::ng-deep .mat-ink-bar {
      background-color: var(--cui-accent-color) !important;
}
::ng-deep .mat-select-trigger{
    height: 2.5em !important;
    border: 1px solid var(--cui-color-gray-400) !important;
    padding-left: var(--cui-spacing-half) !important;
}