
<div class="base-margin">
    <app-user-header></app-user-header>
    <mat-tab-group  mat-stretch-tabs animationDuration="0ms" [(selectedIndex)]="tabIndex" (activeTabIndexChange)="onTabChange()" >
      <mat-tab label="Select Space">
        <app-select-space 
        *ngIf="tabIndex==0" 
        [cmsapiServce]="cmsapiServce" 
        [createdSpaceId]="newSpaceId"
        ></app-select-space>
      </mat-tab>
      <mat-tab label="Create Space">
        <app-new-space 
        *ngIf="tabIndex==1" 
        (switchTabevent)="setTab($event)"  
        (setNewSpace)="setNewSpaceId($event)"
        [cmsapiServce]="cmsapiServce" 
        ></app-new-space>
      </mat-tab>
    </mat-tab-group>
</div>






