<div class="base-margin">
  <form class="form-group" #authForm="ngForm" (ngSubmit)="onLogin(authForm)">
   
    <div class="section">
      <h6 class="text-weight-600">Provide your Username/Password</h6>
      <div class="form-group__text">
        <input class="qtr-margin-bottom" type="email" id="email" placeholder="Username" [ngModel]="username$ | async" name="email" required email />
        <input type="password" id="password" placeholder="Password" ngModel name="password" required />
      </div>  
      <span class="text-weight-600">* we do not store any credentials</span>
    </div>
   
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="dbl-margin-top">
          <button *ngIf="!isLoading;else loading" class="btn btn--justified" type="submit" [innerText]="'Login'" [disabled]="!authForm.valid" title="Login"></button>
        </div>
      </div>
      <div class="col-1"></div>
    </div>

  </form>
  <div class="row" *ngIf="(tokenisexpired$ | async)">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="dbl-margin-top">
        <button class="btn btn--justified" [innerText]="'Reset Add-In'" title="Reset Add-In" (click)="reset()"></button>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>

<ng-template #loading>
  <div class="loading-dots">
      <span></span>
      <span></span>
      <span></span>
  </div>
</ng-template>


