.footer {
    width: 100%;
    max-width: 380px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    padding: 15px 0 15px 0;
}


.first-foot-btn {
    width: 80%;
    position: absolute;
    z-index: 2;
    bottom: 0;
    padding: 15px 0 15px 0;
    min-height: 20px;
    text-align: center;
}

input {
    border: none;
    border-bottom: 2px solid lightslategrey;
    margin: 10px 0;
    box-sizing: border-box;
  }

.ms-welcome__main {
display: -webkit-flex;
display: flex;
-webkit-flex-direction: column;
flex-direction: column;
-webkit-flex-wrap: nowrap;
flex-wrap: nowrap;
-webkit-align-items: center;
align-items: center;
-webkit-flex: 1 0 0;
flex: 1 0 0;
padding: 10px 20px;
}

.ms-welcome__main > h4 {
    width: 100%;
    text-align: center;
}
