<header class="text-center base-margin">
    <img title="welcome" src="../../assets/illustration.svg" />
</header>
<div class="dbl-margin">
    <div class="text-center" *ngIf="(user$ |async)!.token">
        <h3>Token is found. Verifying... </h3>
        <div class="loader loader--small flex flex-center">
            <div class="wrapper">
                <div class="wheel"></div>
            </div>
        </div>
    </div>
    <div class="dbl-margin-top">
        <h5 class="text-center text-bold">Welcome</h5>
        <div class="flex flex-center section">
            <p>Cisco Meeting Server Outlook Scheduler helps you schedule CMS Meetings easily</p> 
        </div>
        <div class="flex flex-center section dbl-margin-bottom">
            <ul class="nobull">
                <li> 
                    <div class="flex-center-vertical">
                        <div class="flex-center">
                            <span class="icon-like icon-size-16"></span>
                        </div>
                        <div class="flex-fluid half-margin-left text-ellipsis">
                            <div class="text-ellipsis">Schedule CMS Meetings on-the-go</div>
                        </div>
                    </div>
                    <!-- <i class="ms-Icon ms-Icon--Ribbon text-size-16 qtr-margin-right"></i>
                    <span>Schedule CMS Meetings on-the-go</span> -->
                </li>
                <li>
                    <div class="flex-center-vertical">
                        <div class="flex-center">
                            <span class="icon-unlock icon-size-16"></span>
                        </div>
                        <div class="flex-fluid half-margin-left text-ellipsis">
                            <div class="text-ellipsis">Works in Microsoft Outlook App</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="dbl-margin-top">
        <button class="btn btn--justified" [innerText]="'Get started'" [disabled]="(user$ |async)!.token" title="get started" routerLink="/selectsite"></button>        
      </div>
    </div>
    <div class="col-1"></div>
</div>



