/* You can add global styles to this file, and also import other style files */
body {
    width: 80%;
    min-width: 250px;
    padding: 20px;
    display: flex;
    justify-content: center;    
}

header {
    text-align: center;
}


label {
    display: inline-block;
    width: 250px;
    text-align: left;
    padding-top: 0.75rem;
    padding-bottom: 0.35rem;
}​

.form-control{
    display: inline-block;
    width: 100%;
    max-width: 220px;
    height: 20px;
    font-size: small;
}